# Copyright (C) 2021 Paranoid Android
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

on boot
    setprop persist.internalAntenna.enable false

    # Create directory for WLANSAR
    mkdir /data/vendor/wlansar 0777 root root
    write /data/vendor/wlansar/wlansar.cfg 0
    chmod 0666 /data/vendor/wlansar/wlansar.cfg

on post-fs-data
    # LIRC/IR
    chown system system /dev/lirc0
    chmod 0666 /dev/lirc0

    # Thermal and charge_logger
    mkdir /data/vendor/thermal 0771 root system
    mkdir /data/vendor/thermal/config 0771 root system
    mkdir /data/vendor/mac_addr 0771 system system
    mkdir /data/vendor/charge_logger 0771 system system
    chmod 0777 /vendor/bin/scancode_bin

on early-init
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
